.logo{
    width: 25vh;
}

.Skills p {
    color: aliceblue;
    text-align: center;
    font-size: 6vh;
    margin-top: 6vh;
    font-size: 10vh;
    font-family: var(--fontText)
}

.react{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.htmlCssJs{
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: 10vh;
}

.nodeSql{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.guithub{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}